@model TaskTranning.ViewModels.AddUserViewModel
@using TaskTranning.Resources
@inject ResourcesServices Localizer

@{
    ViewBag.Title = Localizer.GetLocalizedHtmlString("Create Page");
    Layout = "_NavbarDataTable";
}
<div class="formbody">
    <h1>@Localizer.GetLocalizedHtmlString("Create Page")</h1>
    <div id="form">
        @if (ViewData["errorMessage"] != null)
        {
            <h5 class="text-danger text-center">@ViewData["errorMessage"]</h5>
        }
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="Email">@Localizer.GetLocalizedHtmlString("Email") * :</label>
                <input asp-for="Email" type="email" class="form-control"placeholder=@Localizer.GetLocalizedHtmlString("Please enter Email")/>
                <span asp-validation-for="Email" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord">@Localizer.GetLocalizedHtmlString("Password") * :</label>
                <input asp-for="PassWord" type="password" class="form-control"placeholder=@Localizer.GetLocalizedHtmlString("Please enter Password")/>
                <span asp-validation-for="PassWord" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName">@Localizer.GetLocalizedHtmlString("FullName") * :</label>
                <input asp-for="FullName" type="text" class="form-control"placeholder=@Localizer.GetLocalizedHtmlString("Please enter FullName")/>
                <span asp-validation-for="FullName" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone">@Localizer.GetLocalizedHtmlString("Phone") * :</label>
                <input type="number" asp-for="Phone" class="form-control" placeholder=@Localizer.GetLocalizedHtmlString("Please enter Phone")/>
                <span asp-validation-for="Phone" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture">@Localizer.GetLocalizedHtmlString("Picture") * :</label>
                <input type="file" asp-for="Picture">
                <span asp-validation-for="Picture" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address">@Localizer.GetLocalizedHtmlString("Address") * :</label>
                <input type="text" asp-for="Address" class="form-control" placeholder=@Localizer.GetLocalizedHtmlString("Please enter Address")/>
                <span asp-validation-for="Address" class="form-text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreId" >@Localizer.GetLocalizedHtmlString("StoreId") * :</label>
                <select asp-for="StoreId" asp-items="@ViewBag.StoreId" class="form-control">
                </select>
                <span asp-validation-for="StoreId" class="form-text text-danger"></span>
            </div>
            
            <div class="checkbox">
                <label asp-for="IsActive">@Localizer.GetLocalizedHtmlString("IsActive"):</label>
                <input asp-for="IsActive" type="checkbox"  class="form-control">
                <span asp-validation-for="IsActive" class="form-text text-danger"></span>
            </div>
            <div class="container">
                <div class="row button">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">@Localizer.GetLocalizedHtmlString("Create")</button>
                    </div>
                </div>
            </div>
    
        </form>
        <div class="list-group link">
            <a class="text-primary" asp-action="Index">@Localizer.GetLocalizedHtmlString("Back to List")</a>
        </div>
    </div>
</div>
